#list .li {
    display: inline;
    padding: 15px 15px 15px 15px;
    border-radius: 11px;
    background-color: #5DFC0B;
}
#list {
    margin: auto 0 auto 255px;
    padding: 16px 0;
}
#logotype {
    position: absolute;
    display: inline;
    margin: auto 0 auto 170px;
}
a {
    text-decoration: none;
    color: black;
}
body {
    margin: 0;
}
.li:hover {
    cursor: pointer;
    border: outset 2px #5DFC0B;
}
nav {
    background: radial-gradient(at top, #1E00E2, #C0C0BC);
    box-shadow: 0 0 100px 15px rgba(0, 0, 0, 2);
    margin: 0;
    height: 50px;
}
.down {
    display: block;
}
