.content {
    width: 1000px;
    display: block;
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin: 10px auto;
}

.right {
    float: right;
    /*margin: 0px 0px 0px 0px;*/
}