@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
.content {
    width: 1000px;
    display: block;
    color: black;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    margin: 10px auto;
}
.right {
    float: right;
}